
body
{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.color-purple {
    background-color: #6c58c4;
    color: white;
}


.invisible {
    display: none;
}

.container_column {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-items: flex-start;
    position: initial;
    justify-content: space-between;
    margin-bottom: 10px;
    order: 1;

}

.item-box {
    width: 100px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;

}

.icon {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-image: url(../assets/about.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.option {
    width: 100px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
    cursor: pointer;

}

.option.on {
    color: white;
    background-color: #6c58c4;
    border: 2px solid #6c58c4;
    box-shadow: #6c58c4 0px 5px 15px;
}

.val-box {
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.title-box {
    width: 150px;
    padding: 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.delete-icon {
    cursor: pointer;
    margin-top: 4px;
    height: 30px;
    width: 30px;
    background-image: url(../assets/delete.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

span {
    font-weight: bold;
}

.tipo {
    width: 100px;
    padding: 5px;
    text-align: center;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.tipo.type_saida
{
    background-color: red;
}
.tipo.type_entrada {
    background-color: green;
}

.val-box.color_saida {
    color: red; 
}
.val-box.color_entrada {
    color: green;
}

.fundo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.209);
    width: 100%;
    height: 100%;
    transition: all 1s ease-in-out;
}

.fundo.esconder { 
    display: none;
}

.caixa {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin: 0 auto;
    width: 450px;
    height: 530px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.227) 10px 15px 45px;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.caixa.alert {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}
.caixa.alert h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
}

.caixa.alert p 
{
    font-size:15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}


.caixa.aparecer {
    animation: aparecer 0.5s ease-in-out forwards;

}

@keyframes aparecer {
    from {
        transform: translateY(-900px);
    } 
    to {
        transform: translateY(0);
    }
}

.close-icon {
    clip-path: circle(50%);
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-image: url(../assets/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-weight: 400;
}

.item-box.ativo {
    color: #6c58c4;
    border: 2px solid #6c58c4;
}

.rounded-50 {
    border-radius: 50px;
}

.color-secondary {
    background-color: #e1e1ec;
}
.color-font-dark {
    color: rgb(80, 80, 80);
}

.strong {
    color: #6c58c4;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.entrada {
    height: 40px;
    width: 40px;
    background-image: url(../assets/entrada.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.saida {
    height: 40px;
    width: 40px;
    background-image: url(../assets/saida.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}